<?xml version="1.0"?>

<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config ../environment_model_configuration.xsd">
  <name>RobotHeadDVS</name>
  <version>1.0</version>
  <sdf version="1.6">RobotHead.sdf</sdf>

  <author>
    <name>Jacques Kaiser</name>
    <email>jkaiser@fzi.de</email>
  </author>

  <description>
    Model for the robotic head built by the NST group in Munich.
  </description>
</model>
